#background-modal {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#background-modal {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#modal-container {
    position: fixed;
    z-index: 3;
    background-color: rgb(245, 245, 245);
    width: 60vw;
    left: 20vw;
    top: 0;
    border-radius: 30px 30px;
    margin: 2.5% 0;
}

#modal-pokemon-summary {
    color: white;
    min-height: 40vh;
    background-size: cover;
    background-position-y: 50%;
    border-radius: 30px 30px 30px 30px;
    padding: 5% 10%;
    position: relative;
}

#modal-pokemon-summary > svg {
    display: block;
    font-size: 2rem;
    cursor: pointer;
}

#modal-pokemon-header-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modal-pokemon-name {
    font-size: 3rem;
    margin: 2rem 0 3rem 0;
}

.modal-pokemon-type {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 25px 25px;
}

.modal-pokemon-type:first-child {
    margin-right: 1rem;
}

#modal-pokemon-index {
    font-size: 2rem;
    font-weight: bold;
}

#modal-pokemon-details {
    padding: 5% 10%;
}

#modal-pokemon-picture-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -15%;
    height: 75%;
    left: 0;
    right: 0;
    pointer-events: none
}

#modal-pokemon-picture {
    max-height: 100%;
}

.none {
    display: none;
}

#modal-pokemon-details > nav {
    width: clamp(50%, 500px, 100%);
    font-size: 1.1rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    font-weight: bold;
} 

#modal-pokemon-details a.active, #modal-pokemon-details a:hover {
    text-decoration: underline;
} 

#modal-infos-container {
    margin: 5% 15% 0 15%;
    font-size: 1.2rem;
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    #modal-container {
        width: 80vw;
        left: 10vw;
        margin: 2.5% 0;
    }

    #modal-pokemon-details * {
        font-size: 1rem;
    }

    #modal-pokemon-picture-container {
        height: 50%;
    }
}

@media screen and (max-width: 768px){
    #modal-container {
        width: 100vw;
        left: 0;
        border-radius: 0px 0px;
        margin: 0;
    }

    #modal-infos-container {
        margin: 5% 5% 0 5%;
    }

    #modal-pokemon-summary {
        min-height: 50vh;
        border-radius: 0px 0px 30px 30px;
    }

    #modal-pokemon-details {
        min-height: 50vh;
        border-radius: 0px 0px;
    }

    #modal-pokemon-details * {
        font-size: 0.9rem;
    }

    #modal-pokemon-picture-container {
        height: 60%;
        bottom: -10%;
    }

    #modal-pokemon-name {
        font-size: 2.5rem;
    }

    #modal-pokemon-index {
        font-size: 1.5rem;
    }

    .modal-pokemon-type {
        font-size: 0.8rem;
        padding: 0.75rem 1.25rem;
    }
}