.bug {
    background-image: url('../../public/Images/backgrounds/bug.jpg');
}

.dark {
    background-image: url('../../public/Images/backgrounds/dark.jpg');
}

.dragon {
    background-image: url('../../public/Images/backgrounds/dragon.jpg');
}

.electric {
    background-image: url('../../public/Images/backgrounds/electric.jpg');
}

.fairy {
    background-image: url('../../public/Images/backgrounds/fairy.jpg');
}

.fighting {
    background-image: url('../../public/Images/backgrounds/fighting.jpg');
}

.fire {
    background-image: url('../../public/Images/backgrounds/fire.jpg');
}

.flying {
    background-image: url('../../public/Images/backgrounds/flying.jpg');
}

.ghost {
    background-image: url('../../public/Images/backgrounds/ghost.jpg');
}

.grass {
    background-image: url('../../public/Images/backgrounds/grass.jpg');
}

.ground {
    background-image: url('../../public/Images/backgrounds/ground.jpg');
}

.ice {
    background-image: url('../../public/Images/backgrounds/ice.jpg');
}

.normal {
    background-image: url('../../public/Images/backgrounds/normal.jpg');
}

.poison {
    background-image: url('../../public/Images/backgrounds/poison.jpg');
}

.psychic {
    background-image: url('../../public/Images/backgrounds/psychic.jpg');
}

.rock {
    background-image: url('../../public/Images/backgrounds/rock.jpg');
}

.steel {
    background-image: url('../../public/Images/backgrounds/steel.jpg');
}

.water {
    background-image: url('../../public/Images/backgrounds/water.jpg');
}