#App {
    z-index: -2;
}

#pokemon-input {
    display: block;
    margin: auto auto;
    width: 30%;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid lightgrey;
    outline: 0;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

#pokedex-title {
    font-size: 3rem;
    margin: 6rem 0;
    color: #282828;
}

#pokeball-grey {
    position: fixed;
    z-index: -1;
    top: -10rem;
    right: -10rem;
    transform: rotate(-35deg);
}